*{
    margin: 0px;
    padding: 0px;
 }

 #container{
    margin: 0px auto;
    margin-top: 40px;
    border: 1px solid;
    width: 1024px;
    font-family: sans-serif;
    padding: 0px;
    
}

#articles article{
    width: 47%;
    height: 250px;
    background-color: orange;
    text-align: center;
    color: rgb(0, 0, 0);
    float: left;
    margin-left: 18px;
    margin-bottom: 18px;
    display: grid;
    place-items: center;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#imagenp img{
    width: 100%;
    height: 72%;
    max-width: 1280;
    max-width: 720;
}

#gameday img{
    width: 100%;
    height: 250px;
}

#articles2 article{
    width: 30%;
    height: 250px;
    background-color: lightskyblue;
    text-align: center;
    color: rgb(0, 0, 0);
    display: grid;
    place-items: center;
    

    float: left;
    margin-left: 26px;
    margin-top: 25px;
    margin-bottom: 26px;
}
h2 a{
    color: black;
}

h2 a :visited{
    color: darkslategrey;
}

#articles3 article{
    width: 20%;
    height: 150px;
    background-color: gray;
    text-align: center;
    color: rgb(0, 0, 0);
    float: left;
    margin-left: 41px;
    display: grid;
    place-items: center;
}

.clearfix{
    float: none;
    clear: both
}

footer{
    margin: 15px;
}

footer a{
    color: black;
    border: 1px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@media(max-width: 768px){

    #container{
        width: 100%;
    }

    #articles article{
        width: 97%;
        height: 150px;
        float: left;
        margin-left: 6px;
        margin-bottom: 6px;
    }

    #articles2 article{
        width: 98%;
        height: 150px;
        float: left;
        margin-left: 7px;
        margin-top: 7px;
        margin-bottom: 0px;

    }

    #imagenp img{
        margin-top: 15px;
        margin-bottom: 10px;
    }

    #articles3 article{
        width: 48%;
        margin-left: 10px;
        margin-top: 10px;
    }
}

@media(max-width: 500px){

    #container{
        width: 100%;
    }

    #articles article{
        width: 97%;
        height: 150px;
        float: left;
        margin-left: 6px;
        margin-bottom: 6px;
    }

    #articles2 article{
        width: 94%;
        height: 150px;
        float: left;
        margin-left: 10px;
        margin-top: 7px;
        margin-bottom: 0px;

    }

    #imagenp img{
        margin-top: 10px;
        margin-bottom: 5px;
    }

    #articles3 article{
        width: 94%;
        margin-left: 10px;
        margin-top: 10px;
    }
}

@media(max-width: 320px){

    #container{
        width: 100%;
    }

    #articles article{
        width: 97%;
        height: 150px;
        float: left;
        margin-left: 6px;
        margin-bottom: 6px;
    }

    #articles2 article{
        width: 94%;
        height: 150px;
        float: left;
        margin-left: 10px;
        margin-top: 7px;
        margin-bottom: 0px;

    }

    #imagenp img{
        margin-top: 10px;
        margin-bottom: 5px;
    }

    #articles3 article{
        width: 94%;
        margin-left: 10px;
        margin-top: 10px;
    }
}